

{% extends "layout.html" %}
{% block body %}
 
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{pay.userid}}" method="POST">
          <div class="form-group">
            <input type="text" name="username" value="{{pay.username}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="products" value="{{pay.products}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="cost" value="{{pay.cost}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="date" name="duedate" value="{{pay.duedate}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="payment_status" value="{{pay.payment_status}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
{% endblock %}