{% extends "layout.html" %}
{% block body %}
 
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
      {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endwith %}
        <form action="{{url_for('sendmail')}}" method="POST">        
         
          <div class="form-group">
            <input type="text" name="recipient" value="{{recipient}}" class="form-control" placeholder="Recipient_email">
          </div>          
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Send Mail
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
{% endblock %}